Импортируем библиотеки

In [42]:
from sklearn import model_selection, datasets, linear_model, metrics
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

import pandas as pd
import numpy as np
import sklearn

%pylab inline

Populating the interactive namespace from numpy and matplotlib

Импортируем данные из файла

In [43]:
dataframe = pd.read_csv('water.txt', names=['location', 'town', 'mortality','hardness'], skiprows=1, sep='\t')
dataframe.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

Сделаем фунуцию вычисления 95% доверительный интервал для средней годовой смертности и жесткости воды (параметр key)

In [54]:
def getInterval(df, key = "mortality"):
    mort = df[key]
    mort_mean = mort.mean()
    mort_mean_std = mort.std(ddof=1)/sqrt(len(mort))
    return _tconfint_generic(mort_mean, mort_mean_std,len(mort) - 1, 0.05, 'two-sided')

 95% доверительный интервал для средней годовой смертности в больших городах

In [47]:
getInterval(dataframe)

(1476.0833413552848, 1572.2117406119285)

Разделим датафрейм на северные и южные города

In [48]:

df_loc_south = dataframe.loc[dataframe['location'] == 'South']
df_loc_north = dataframe.loc[dataframe['location'] == 'North']

95% доверительный интервал для средней годовой смертности в южных городах

In [50]:
getInterval(df_loc_south)

(1320.1517462936238, 1433.463638321761)

95% доверительный интервал для средней годовой смертности в северных городах

In [57]:
getInterval(df_loc_north)

(1586.5605251961385, 1680.6394748038613)

95% доверительный интервал для средней жесткости воды в южных городах

In [58]:
getInterval(df_loc_south, "hardness")

(53.467198692036106, 86.07126284642544)

95% доверительный интервал для средней жесткости воды в северных городах

In [59]:
getInterval(df_loc_north, "hardness")

(21.42248728572426, 39.37751271427574)